:root {
    --clr-purple: 259, 100%, 65%;
    --clr-red: 0, 100%, 67%;
    --clr-white: 0, 0%, 100%;
    --clr-offWhite: 0, 0%, 94%;
    --clr-lightGrey: 0, 0%, 86%;
    --clr-smokeyGrey: 0, 1%, 44%;
    --clr-offBlack: 0, 0%, 8%;
    
    /* regular and extraBold to be italicized */
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extraBold: 800;

    font-size: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.75em 0;
    background-color: hsl(var(--clr-offWhite));
}