.container {
	background-color: hsl(var(--clr-white));
	border-radius: 0.75em 0.75em 3.25em 0.75em;
	width: 345px;
	padding: 1em 0.75em 1.625em;
}

.birthdayDiv {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0.5em;
	border-bottom: 2px solid hsla(var(--clr-lightGrey), 0.5);
	padding-bottom: 1.125em;
}

.birthdayDiv__dayDiv,
.birthdayDiv__monthDiv,
.birthdayDiv__yearDiv {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.birthdayDiv__monthDiv__label,
.birthdayDiv__dayDiv__label,
.birthdayDiv__yearDiv__label {
	font-size: 0.375rem;
	font-weight: var(--fw-bold);
	letter-spacing: 0.25em;
	color: hsl(var(--clr-smokeyGrey));
}

.error__label {
	color: hsl(var(--clr-red));
}

.birthdayDiv__monthDiv__input,
.birthdayDiv__dayDiv__input,
.birthdayDiv__yearDiv__input {
	width: 100%;
	border: 1px solid hsl(var(--clr-lightGrey));
	border-radius: 0.375em;
	font-size: 0.625rem;
	font-weight: var(--fw-extraBold);
	padding: 0.5em 0.625em;
}

.birthdayDiv__monthDiv__input::-webkit-outer-spin-button,
.birthdayDiv__monthDiv__input::-webkit-inner-spin-button,
.birthdayDiv__dayDiv__input::-webkit-outer-spin-button,
.birthdayDiv__dayDiv__input::-webkit-inner-spin-button,
.birthdayDiv__yearDiv__input::-webkit-outer-spin-button,
.birthdayDiv__yearDiv__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.error__input {
	border: 1px solid hsl(var(--clr-red));
}

.birthdayDiv__monthDiv__input:focus,
.birthdayDiv__dayDiv__input:focus,
.birthdayDiv__yearDiv__input:focus {
	outline: 1px solid hsl(var(--clr-smokeyGrey));
}

.birthdayDiv__monthDiv__errorMessage,
.birthdayDiv__dayDiv__errorMessage {
	font-size: 0.275rem;
	font-weight: var(--fw-regular);
	font-style: italic;
	color: hsl(var(--clr-red));
	opacity: 0;
}

.birthdayDiv__yearDiv__errorMessage {
	font-size: 0.275rem;
	font-weight: var(--fw-regular);
	font-style: italic;
	color: hsl(var(--clr-red));
}

.display {
	opacity: 1;
}

.button {
	background-color: hsl(var(--clr-purple));
	border-radius: 50%;
	border: none;
	padding: 0.375em;
	width: 64px;
	height: 64px;
	position: relative;
	bottom: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.button__image {
	transform: scale(0.55);
}

.resultDiv__years,
.resultDiv__months,
.resultDiv__days {
	font-size: 1.625rem;
	font-style: italic;
	font-weight: var(--fw-extraBold);
	line-height: 1.125em;
}

.resultDiv__years__number,
.resultDiv__months__number,
.resultDiv__days__number {
	color: hsl(var(--clr-purple));
}

@media screen and (min-width: 1440px) {
	.container {
		width: 840px;
		padding: 1.25em;
		border-bottom-right-radius: 5.25em;
	}
	.birthdayDiv {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 0 0.75em;
	}
	.birthdayDiv__monthDiv__label,
	.birthdayDiv__dayDiv__label,
	.birthdayDiv__yearDiv__label {
		font-size: 0.45rem;
	}
	.birthdayDiv__monthDiv__input,
	.birthdayDiv__dayDiv__input,
	.birthdayDiv__yearDiv__input {
		font-size: 1rem;
		padding: 0.375em 0.625em;
	}
	.birthdayDiv__monthDiv__errorMessage,
	.birthdayDiv__dayDiv__errorMessage,
	.birthdayDiv__yearDiv__errorMessage {
	font-size: 0.375rem;
}

	.button {
		width: 80px;
		height: 80px;
		bottom: 40px;
		left: 345px;
	}
	.button__image {
		transform: scale(0.875);
	}
	.resultDiv__years, 
	.resultDiv__months, 
	.resultDiv__days {
		font-size: 3.25rem;
	}
}
